<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SigmaHacks-2.0</title>

    <!-- //============LOCAL CSS=========// -->
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <!-- //============CDN CSS============// -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
    <div class="ui pointing inverted menu stackable">
        <div class="container">
           <a id="home" href="/" class="home-icon item"><i class="home icon"></i></i>Home</a>
           <a id="plasma-bank" href="plasma_bank" class="item">Plasma Bank</a>
           <a id="common-pool" href="common_pool" class="item">Plasma Form</a>
           <a id="amenities" href="amenities" class="item">Track Amenities</a>
           <a id="technology" href="technology" class="item right floated"><i class="large wrench icon"></i></a>
           <a id="contact" href="contact" class="item "><i class="large address book outline icon"></i></a>
           <a class="item" id="theme-toggle"><i class="fa fa-adjust fa-lg"></i>
           </a>
       </div>
           <div class="hamburger">
               <span class="hamburger-bun"></span>
               <span class="hamburger-patty"></span>
               <span class="hamburger-bun"></span>
           </div>
       </div>