<!DOCTYPE html>
<html>
<head>
    <title>
        Hack
    </title>
</head>
<body>
  <!--show cabs-->

  <div class="container" id="show-donor">
    <h1> Donor </h1>

  </div>

    <!--show cabs-->

    <div class="container" id="show-patient">
        <h1> Patient </h1>
    
      </div>
    
    <!--firebase-->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
          apiKey: "AIzaSyD8h6IrR81rq4DyKmVvyiFwK8tPFFmhYb4",
          authDomain: "sigmahacks2.firebaseapp.com",
          databaseURL: "https://sigmahacks2.firebaseio.com",
          projectId: "sigmahacks2",
          storageBucket: "sigmahacks2.appspot.com",
          messagingSenderId: "401417808646",
          appId: "1:401417808646:web:bd47249e5f66176f3d4c87"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
      </script>

     <!--js file-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="js/common_pool.js"></script>
</body>
</html>