<%- include("./partials/header") %>

    Hey There!

    <!--local news-->
    <script src="news.js"></script> 
    <div id="news">Loading News . . . </div>


</body>

<!-- //=======JS CDNS============// -->
<!-- //Remeber to load JS-CDNs before using Jquery or Firebase -->


<!-- //======LOCAL SCRIPTS==========// -->

<%- include("./partials/footer") %>

</html>