<%- include("./partials/header") %>

    Hey There!
</body>

<!-- //=======JS CDNS============// -->
<!-- //Remeber to load JS-CDNs before using Jquery or Firebase -->


<!-- //======LOCAL SCRIPTS==========// -->

<%- include("./partials/footer") %>

</html>